# Creado por https://www.toptal.com/developers/gitignore/api/visualstudiocode,windows
# Editar en https://www.toptal.com/developers/gitignore?templates=visualstudiocode,windows

### Código VisualStudio ###
.vscode/*
!.vscode/configuración.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensiones.json
!.vscode/*.fragmentos de código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio creadas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

### Ventanas ###
# Archivos de caché de miniaturas de Windows
Pulgares.db
Thumbs.db: cifrable
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
*.stackdump

# Archivo de configuración de carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en archivos compartidos
$RECYCLE.BIN/

# Archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk

# Fin de https://www.toptal.com/developers/gitignore/api/visualstudiocode,windows
